platform: linux
image_resource:
  type: docker-image
  source:
    repository: czero/rootfs
inputs:
- name: brkt-pcf-pipelines
outputs:
- name: stock-ami
- name: stemcell
params:
  OPSMAN_DOMAIN_OR_IP_ADDRESS:
  PEM:
  REGION:
run:
  path: brkt-pcf-pipelines/tasks/find-stock-director-stemcell-ami/task.sh